<%= render 'shared/message_blocks' %>

<%= render 'questions/question_details', question: question %>

<div class="questions/question-content" style='font-size: 3vh; margin-left: 5%;'><%= question.content %>
</div>

<%= render 'question_file_attachments', question: question %>
