<p>Hello <%= @user.name %></p>
<p>Thank you for signing up to Quora Clone</p>
<p>click the link below to verify your email id: </p>
 <button><a href="localhost:3000/confirmation/?token=<%= @user.verification_token %>&id=<%= @user.id %>">Click Here</a></button>
