<%= render 'shared/message_blocks' %>

<%= render 'top_bar', user: @user %>

<br>
<div class="bottom-panel">
  <div class="bottom-panel-title">Comments</div>
  <%= render partial: 'comments/comment', collection: @comments %>

  <div class="user-pagination-links">
    <%= paginate @comments %>
  </div>
</div>
