<%= render 'shared/message_blocks' %>

<%= render 'top_bar', user: @user %>

<br>
<div class="bottom-panel-title">Followees</div>
<%= render 'user_card', users: @followees %>

<div class="user-pagination-links">
  <%= paginate @followees %>
</div>

