<%= render 'shared/message_blocks' %>

<%= render 'top_bar', user: @user %>

<br>
<div class="bottom-panel-title">Questions</div>
<%= render partial: 'questions/question', collection: @questions %>

<div class="user-pagination-links">
  <%= paginate @questions %>
</div>
