<% if user&.profile_picture.blank? %>
  <div class="profile-thumbnail-in-question" style = "background-image: url('/assets/default-pfp.jpg')">
<% else %>
  <div
    class="profile-thumbnail-in-question",
    style = "background-image: url(<%= url_for user.profile_picture %>)"
  >
<% end %>
 </div>
