<div class="center-align" style="text-align: center">
  <%= render 'shared/message_blocks' %>

  <div class="form-heading">Reset your Password</div>
  &nbsp;

  <div class="form-label">please enter the email to send password reset link</div>

  <%= form_with do |form| %>
    <%= form.email_field :email, class: 'form-field' %>
    <%= form.submit 'Submit', class: 'form-submit' %>
  <% end %>
</div>
