<tr>
  <td><%= question.title.truncate(20) %></td>
  <td><%= question.user&.name || 'DEACTIVATED' %></td>
  <td><%= question.user&.email || 'DEACTIVATED' %></td>
  <td><%= button_to 'Unpublish', unpublish_admin_question_path(url_slug: question.url_slug), class: 'function-button delete-table-btn' %></td>
</tr>
