<div class="center-align" style="text-align: center">
  <%= render 'shared/message_blocks' %>

  <div class="form-heading">Verify your email</div>

  <div>please enter the email to send verification link</div>

  <%= form_with do |form| %>
    <%= form.email_field :email, class: 'form-field' %>
    <%= form.submit 'Submit', class: 'form-submit' %>
  <% end %>
</div>
