/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
--black: #000;
--red: rgb(108, 29, 29);
--green: #0a0;
--yellow: #aa0;
--blue: #00a;
--magenta: #a0a;
--cyan: #0aa;
--white: #ddd;
--bright-black: #666;
--bright-red: rgb(148, 48, 48);
--bright-green: #0f0;
--bright-yellow: #ff0;
--bright-blue: #00f;
--bright-magenta: #f0f;
--bright-cyan: #0ff;
--bright-white: #fff;
}


* {
  margin: unset;
  padding: unset;
}

.main {
  margin-top: 8vh;
  height: 92vh;
  width: 100vw;
}

.center-align {
  width: fit-content;
  height: fit-content;
  max-width: 50vw;
  padding: 2%;
  border: 0.5vmin solid var(--red);
  border-radius: 5vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-block {
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-bottom: 2%;
  padding: 2%;
  border: 0.5vmin solid var(--red);
  background: rgba(255, 0, 0, 0.326);
  border-radius: 2vh;
}

.message-block {
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-bottom: 2%;
  padding: 2%;
  border: 0.5vmin solid var(--yellow);
  background: rgba(170, 170, 0, 0.326);
  border-radius: 2vh;
}

.page, .prev, .next, .first, .last {
  padding: 2%;
  margin: 2%;
  background: var(--red);
  border: 0.5vmin solid var(--black);
  border-radius: 2vh;
}

.page:hover, .prev:hover, .next:hover, .first:hover, .last:hover, .current {
  color: var(--bright-white);
  background: var(--bright-red);
}

.page > a, .prev > a, .next > a, .first > a, .last > a {
  text-decoration: none;
  color: var(--white);
}

.report-abuse-form {
  padding: 5%;
  border-radius: 5vh;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 30;
  transform: translate(-50%, -50%);
  background-color: var(--bright-white);
}

.report-abuse-form-wrap {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  background: #0000007a;
}

.vote-list {
  position: relative;
  float: left;
  display: flex;
  flex-direction: column;
}

.net-upvote-number {
  font-size: 3vh;
}

.upvote, .downvote {
  width: 5vh;
  height: 5vh;
}

.notification-card {
  position: relative;
  width: 70vw;
  padding: 1%;
  margin: 1%;
  margin-left: 16%;
  padding-left: 3%;
  border: 2px solid var(--black);
}
