.credit-container {
  padding: 3%;
}

.credit-list {
  height: fit-content;
  max-width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.credit-pack-amount {
  font-size: 6vh;
  font-weight: 600;
  display: flex;
}

.credit-pack-price {
  font-size: 4vh;
}

.credit-pack-description {
  font-size: 2vh;
  font-weight: 600;
  color: var(--bright-black);
}

.cancel-order-form {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%);
}

.credit-pack-amount-checkout {
  font-size: 6vh;
  width: fit-content;
}

.credit-pack-price-checkout {
  margin: 5%;
  font-size: 4vh;
  display: flex;
}

.credit-pack-description-checkout {
  font-size: 3vh;
  width: fit-content;
}

.line-item {
  width: 30vw;
  display: flex;
}

.order-form {
  margin-left: 5%;
  display: flow-root;
}

.other-buttons {
  display: flex;
}
