.question-card {
  width: 90vw;
  padding: 1%;
  margin: 1%;
  padding-left: 3%;
  border: 2px solid var(--black);
}

.question-card:hover {
  background-color: var(--white);
}

.question-heading {
  font-size: 3vh;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

.question-sub-headings {
  font-size: 2.3vh;
  font-weight: 500;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}


.footer-form {
  background: var(--red);
  position: relative;
  bottom: 0%;
  color: var(--white);
  padding: 2%;
}

.footer-form-header {
  font-size: 4vh;
  font-weight: bold;
}

.footer-form-label {
  font-size: 3vh;
}

.check-list {
  display: flex;
  flex-wrap: wrap;
  width: inherit;
}

.check-element {
  padding: 1%;
  display: flex;
  word-wrap: unset;
}

.footer-form-submit {
  font-size: 3vh;
  padding: 0.5%;
  background: var(--white);
  border-radius: 0.5vh;
  margin-top: 2%;
  text-decoration: none;
  color: var(--black);
}

.footer-form-submit:hover {
  background: var(--bright-black);
  color: var(--white);
}

.check-box{
  margin-right: 2%;
}

.profile-thumbnail-in-question {
  width: 5vh;
  height: 5vh;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}

.question-user-name {
  font-size: 3vh;
  width: fit-content;
  word-wrap: unset;
  position: relative;
  padding: 1%;
  text-decoration: none;
  color: var(--black)
}

.question-search-form {
  position: relative;
  float: right;
  display: flex;
  right: 2%;
  padding: auto;
}

.question-search-form > input {
  margin-left: 2%;
}

.new-question-form {
  width: 60vw;
  padding: 5%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.new-question-form > div > input {
  width: 60vw;
}

.new-question-form > * {
  margin-bottom: 2%;
}

.question-form-title {
  position: relative;
  width: fit-content;
  left: 50%;
  transform: translate(-50%);
}

.question-show-title {
  font-weight: bold;
  font-size: 5vh;
  margin-left: 3%;
}

.question-content {
  margin-bottom: 1%;
  font-size: 2vh;
  padding: 3%;
  width: 80vw;
}

.question-user-details {
  display: flex;
  width: 25vw;
  margin-left: 3%;
}

.question-files {
  display: flex;
  flex-wrap: wrap;
}

.file-item {
  padding: 2%;
  width: fit-content;
}

.file-item:hover {
  background-color: var(--white);
}

.file-item > img {
  width: 15vw;
  height: auto;
  display: block;
  margin: auto;
}

.form-check {
  position: absolute;
}

.delete-question {
  margin-left: 20%;
  position: relative;
  margin-top: -100%;
}

.edit-question-button {
  font-size: 2.3vh;
  padding: 0.2em;
  margin-bottom: 0.2em;
  border: 2px solid var(--red);
  background: var(--red);
  color: var(--bright-white);
  border-radius: 0.5em;
  text-align: center;
  display: block;
  text-decoration: none;
  width: fit-content;
  float: right;
  position: relative;
  top: -50%;
}
