.top-panel {
  width: 100vw;
  height: 30vh;
  border-bottom: 2px solid var(--black);
}

.profile-picture {
  width: 25vmin;
  height: 25vmin;
  border: 2px solid var(--black);
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 2%;
  transform: translate(0%, -50%);
  z-index: 10;
  background-size: cover;
  background-position: center;
}

.user-details {
  height: inherit;
  width: 60vw;
  position: relative;
  top: -85%;
  left: 33vmin;
}

.user-name {
  font-size: 6vh;
  font-weight: bold;
}

.user-email {
  font-size: 2vh;
}

.topics-list {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 15vh;
}

.topic-list-title {
  font-size: 2vh;
}

.topic {
  display: inline;
  padding: 0.25em;
  margin: 0.25em;
  border: 2px solid var(--black);
  font-size: 2vh;
  text-decoration: none;
  color: var(--black);
}

.function-button-list {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 15vh;
  right: 2%;
  transform: translate(0%, -25%);
}

.function-button {
  font-size: 2.3vh;
  padding: 0.2em;
  margin-bottom: 0.2em;
  border: 2px solid var(--red);
  background: var(--red);
  color: var(--bright-white);
  border-radius: 0.5em;
  text-align: center;
  display: block;
  text-decoration: none;
}

.function-button:hover {
  background: var(--bright-red);
}

.highlighted-function-button {
  font-size: 2.3vh;
  padding: 0.2em;
  margin-bottom: 0.2em;
  border: 2px solid var(--red);
  background: var(--bright-red);
  color: var(--bright-white);
  border-radius: 0.5em;
  text-align: center;
  display: block;
  text-decoration: none;  
}

.bottom-panel-title {
  font-size: 6vh;
  font-weight: bold;
  padding-left: 2%; 
}

.delete-user {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 400%);
}
