<% case status %>
<% when 'pending'%>
  <div style="color: var(--blue)">PENDING</div>
<% when 'successful' %>
  <div style="color: var(--green)">SUCCESSFUL</div>
<% when 'cancelled' %>
  <div style="color: var(--red)">CANCELLED</div>
<% end %>