<div class="tab-list">
    <%= highlighted_link 'Users',
                         'function-button',
                         'highlighted-function-button',
                         admin_users_path %>

    <%= highlighted_link 'Questions',
                         'function-button',
                         'highlighted-function-button',
                         admin_questions_path %>
  </div>